---
const { img, tittle, date, text } = Astro.props;
---

<div class="m-auto max-w-screen-md justify-center mb-10">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center">
      <img src={img} class="size-10" alt={tittle} />
      <h5 class="font-poppins font-semibold text-base ml-2 md:text-[1.75rem]">
        {tittle}
      </h5>
    </div>
    <h5
      class="font-poppins font-medium text-sm md:text-lg text-secondary-txt text-pretty text-center h-5 mb-4"
    >
      {date}
    </h5>
  </div>
  <p class="font-poppins font-light text-sm text-wrap text-secondary-txt mt-2">
    {text}
  </p>
</div>
